.homepage-section {
    background-color: #fff;

    #homepage-section-1-accordion {

        box-shadow: 10px 10px 34px -40px rgba(0,0,0,0.19);
        -webkit-box-shadow: 10px 10px 34px -40px rgba(0,0,0,0.19);
        -moz-box-shadow: 10px 10px 34px -40px rgba(0,0,0,0.19);

        .card {
            background-color: #fff;
            border: none;
            padding: 0;
            
        
            .card-header {
                background-color: transparent;
                padding: 0;
                border: none;

                button {
                    width: 100%;
                    border-radius: 0px;
                    color: black;
                    font-weight: normal;
                    text-align: left;
                    border-bottom: 1px solid rgb(207, 206, 206);
                    &::before {
                        content: '\279C ';
                    }

                    &:hover {text-decoration:none;}
                    
                    &:focus,  &:active, &:visited  {
                        border-bottom: none;
                        text-decoration: none;
                        border-left: 2px solid #654EDE;
                        background-color: #F5F4F8;
                    }

                }
                
            }

            .card-body {
                border-left: 2px solid #654EDE;
                background-color: #F5F4F8;
                color: gray;
                font-weight: lighter;
            }
        }
        
    }
   
}


